.round-settings a.remove-scheme {
    margin: 3px 0px;
}

.round-settings select {
    margin: 3px 0px;
}

table.player-settings {
    margin-top: 15px;
}

#roundInfoPage {
    font-size: 250%;
}

#roundInfoPage table {
    font-size: 70%;
}

#roundInfoPage h1 {
    font-size: 200%;
}

td span.player-vp input {
    width: 60px;
}

.settings-number {
    width: 60px;
}

table#round-scoring tr :nth-child(2) span.player-name {
    float:left;
}
table#round-scoring tr :nth-child(2) span.player-vp {
    float:right;
}
table#round-scoring tr :nth-child(3) span.player-name {
    float:right;
}
table#round-scoring tr :nth-child(3) span.player-vp {
    float:left;
}
table#round-scoring tr :nth-child(4) span.player-name {
    float:right;
}
table#round-scoring tr :nth-child(4) span.player-vp {
    float:left;
}

table#round-scoring tr :nth-child(4).gu-transit {
    display: none;
}

td.gu-mirror input {
    display:none;
}

span.player-name {
    cursor: move;
}