.round-settings a.remove-scheme {
    margin: 3px 0px;
}

.round-settings select {
    margin: 3px 0px;
}

table.player-settings {
    margin-top: 15px;
}

#roundInfoPage {
    font-size: 250%;
}

#roundInfoPage table {
    font-size: 70%;
}

#roundInfoPage h1 {
    font-size: 200%;
}

td.vp input {
    width: 60px;
}

.settings-number {
    width: 60px;
}