 <div class="row">
  <div class="col-md-7">
    <table class="table table-striped">
      <theader>
        <tr><th>Table</th><th>Player 1</th><th>VP</th><th>VP</th><th>Player 2</th></tr>
      </theader>
      <tbody>
        <% _.each(tables, function(table) { %>
          <tr>
            <td><%- table.name %></td>
            <td><%- table.player1name %> <%= table.player1id == '0' ? '<a id="helpBye">(?)</a>' : ''%></td>
            <td><input id="<%- table.player1id %>" value="<%- table.player1vp %>" class="form-control" 
              style="width:50px" <%-table.player2id == '0' || table.player1id == '0' ? "disabled": "" %> /></td>
            <td><input id="<%- table.player2id %>" value="<%- table.player2vp %>" class="form-control" 
              style="width:50px" <%-table.player2id == '0' || table.player1id == '0' ? "disabled": "" %> /></td>
            <td><%- table.player2name %> <%= table.player2id == '0' ? '<a id="helpBye">(?)</a>' : ''%></td>
            
          </tr>
        <% }); %>
      <tbody>
    </table>
    <ul id="validation-errors" class="text-danger" style="display:none"></ul>
    <div <%- parseInt(settings.get('rounds')) <= parseInt(number) ? 'style="display:none"' : "" %> >
    <button type="button" id="generate-rounds" class="btn btn-primary" <%= parseInt(settings.get('rounds')) <= parseInt(number) ? 'style="display:none"' : "" %> >Generate round <%- parseInt(number) + 1 %></button>
    </div>
  </div>
  <div class="col-md-5">
    <div class="standings"></div>
  </div>
</div>