<form class="form-horizontal tournament-settings-form" role="form">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="rounds" class="col-sm-4 control-label">Rounds</label>
        <div class="col-sm-4">
          <input class="form-control" id="rounds" name="rounds" type="number" value="<%- settings.get('rounds') %>" title="Number of rounds."/>
        </div>
      </div>
      <div class="form-group">
        <label for="tables" class="col-sm-4 control-label">Tables</label>
        <div class="col-sm-4">
          <input class="form-control" id="tables" name="tables" type="number" title="Number of tables. Leave empty for players/2" value="<%- settings.get('tables') %>" placeholder=""/>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label>Bye <a id="helpBye">(?)</a> / Ringer <a id="helpRinger">(?)</a></label>
      <div class="radio">
        <label>
          <input type="radio" name="byes" value="average-bye" checked>
          Average Bye
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="byes" value="gg14-bye">
          GG'14 Bye
        </label>
      </div>
      <div class="radio">
          <label>
              <input type="radio" name="byes" value="competing-ringer">
              Competing Ringer
          </label>
      </div>
      <div class="radio">
          <label>
              <input type="radio" name="byes" value="non-competing-ringer">
              Non-competing Ringer
          </label>
      </div>
    </div>

      <div class="col-md-4">
          <label>Round Pairings</label>
          <div class="radio">
              <label>
                  <input type="radio" name="pairings" value="never-meet-twice" checked>
                  Never meet twice
              </label>
          </div>
          <div class="radio">
              <label>
                  <input type="radio" name="pairings" value="gg14-pairings">
                  GG'14 Pairing
              </label>
          </div>
      </div>

  </div>
  <hr/>
  <table class="table table-striped">
    <thead>
      <tr><th>Player name</th><th>City/Club <a id="helpCityFaction">(?)</a></th><th>Faction <a id="helpCityFaction">(?)</a></th><th>Remove</th</tr>
    </thead>
    <tbody id="player-table">

      <tr id="new-player-row">
        <td><input id="new-player" class="form-control" name="player" type="text" placeholder="New Player"/>
        </td><td></td><td></td><td></td>
      </tr>
    </tbody>
  </table>
  <ul id="validation-errors" class="text-danger" style="display:none"></ul>
  <button type="button" id="generate-first-round" class="btn btn-primary">Generate round 1</button>
  
</form>