<form class="form-inline tournament-settings-form" role="form">
  <div class="form-group">
    <label for="rounds">Rounds</label>
    <input class="form-control " id="rounds" name="rounds" type="text" value="<%- settings.get('rounds') %>" />
  </div>  
  <table class="table table-striped">
    <thead>
      <tr><th>Player name</th><th>City/Club <a id="helpCityFaction">(?)</a></th><th>Faction <a id="helpCityFaction">(?)</a></th><th>Remove</th</tr>
    </thead>
    <tbody id="player-table">
      
      
      <tr id="new-player-row">
        <td><input id="new-player" class="form-control" name="player" type="text" placeholder="New Player"/>
        </td><td></td><td></td><td></td>
      </tr>
    </tbody>
  </table>
  <button type="button" id="generate-round" class="btn btn-primary" <%- parseInt(settings.get('rounds')) >= noPlayers ? "disabled" : "" %>>Generate round 1</button>
  
</form>